{{ define "main" }}

<h1>{{ .Title }}</h1>
<div class="intro">
  {{ .Content }}
</div>


<div class="ft101-grid" style="display: grid; grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); gap: 2rem;">
  {{ $posts := where site.RegularPages "Params.series" "ft101"  }}
  {{ range $posts.ByDate}}
    <div class="ft101-card" style="border: 1px solid #ddd; padding: 1rem; border-radius: 5px;">

      <h3 style="margin: 0;"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      {{ with .Params.descripcion }}
        <p style="font-size: 0.9em;">{{ . | markdownify }}</p>
      {{ end }}
    </div>
  {{ end }}
</div>

{{ end }}

