

img.rotated-90 {
  transform: rotate(90deg);
  max-height: 100%;
  max-width: 80%;
  object-fit: contain;
  display: block;
  margin: auto;
}
img.rotated-270 {
  transform: rotate(-90deg); /* o 270deg */
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  display: block;
  margin: auto;
}

.gallery a {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.gallery img {
  width: 100%;
  height: auto;
}


.catalogo-daxon {
  font-family: var(--body-font);
}
.producto {
  background: var(--card-bg);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}
.meta {
  list-style: none;
  padding-left: 0;
}
.meta li {
  display: inline-block;
  margin-right: 1rem;
}
